<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer style="margin-top: 200px;">
      Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetika.com' %>. Kahasanov Albert &copy;<%= current_year %>
    </footer>
  </body>
</html>
